footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1vw;
  color: white;
  padding: 13vw 0 4vw;
}

.logo-icon {
  width: 1.1vw;
  height: auto;
}

.bottom-links {
  font-size: 0.9vw;
}

.link {
  color: #0094FF;
}