footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 0.9vmin);
  color: white;
  padding: 200px 0 50px;
}

.logo-icon {
  width: calc(10px + 1vmin);
  height: auto;
}

.bottom-links {
  font-size: calc(10px + 0.7vmin);
}

.link {
  color: #0094FF;
}