div.avatar img {
    width: 5vw;
    height: 5vw;
}

.borderAvatar {
    position: relative;
    z-index: 100;
    margin-top: -1.45vw;
    border: 0.25vw solid #31BC00;
    border-radius: 10vw;
    height: 1.3vw;
    width: 5vw;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderAvatar span {
    color: #000;
    font-size: 0.7vw;
}