.avatar, .badge {
    cursor: pointer;
}

.avatar img {
    width: 5vw;
    height: 5vw;
}

.badge {
    position: relative;
    z-index: 100;
    margin-top: -1.45vw;
    border: 0.25vw solid #31BC00;
    border-radius: 10vw;
    height: 1.3vw;
    width: 5vw;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge span {
    color: #000;
    font-size: 0.7vw;
}

.popup_robot {
    border: 0.12vw solid #dddd;
    width: 9vw;
    height: 12vw;
    margin: -5vw 0 0 -10vw;
    position: absolute;
    border-radius: 1vw;
    background: #e8e8e8;
}